.icon-container{
    border-radius: 50%;
    background: #A7A7A7;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:7px 10px;
}